body{
			background-color:		#1C1C1C
}

h1 {
	text-align: center;
	color: red;
	font: sarif;
}

h4 {
	text-align: center;
	color: #FFD700;
	font: sarif;
}

p {
	text-align: center;
	color: white;
	font: sans sarif;
}

img {
	width: 300;
	height: 422;
}

a {
	color: #00FF00;
	text-align: center;
}
